<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{%block title%}customfurnish{% endblock%}</title>
    <link rel="stylesheet" href="/static/foundation.css">
    <link rel="stylesheet" href="/static/foundation.min.css">
    <link rel="stylesheet" href="/static/normalize.css">
    <link rel="stylesheet" href="/static/app3.css">


</head>
<body>
    <div class="off-canvas-wrap   show-for-medium-up ">

        <div class="row logo-section " id="four">

            <div class="columns large-4 medium-8 right" style="padding-right:0px; padding-top:5px">

                <ul class="button-group right" >
                  <li><a href="tel:040-660660454" class="header-call"><img src="/static/fi-telephone.svg" style="width:20px;height:20px;">040-660660454</a></li>
                  <li><a href="#">|</a></li>
                  <li><a href="mailto:wecare@customfurnish.com" class="header-mail"><img src="/static/fi-mail.svg" style="width:20px;height:20px;">wecare@customfurnish.com</a></li>
                </ul>

            </div>
        </div>
        <div data-magellan-expedition="fixed" class="row" id="one">
            <div class="columns large-6 medium-4 left">
                <img id="three" src="/static/custom-furnish.png">
            </div>
            <div class="coloumns large-5 medium-8 right">
                <nav class="top-bar" data-topbar role="navigation">
                    <section class="top-bar-section">
                       <ul class="left">
                           <li> <a href="#">HOME</a></li>
                           <li> <a href="#">DESIGN-SERVICE</a> </li>
                           <li> <a href="#">SAMPLE PROJECTS</a> </li>
                           <li> <a href="#">TESTINOMIALS</a> </li>
                           <li> <a href="#"> FAQ </a></li>
                       </ul>

                      </section>
                </nav>
            </div>
            <hr id="A">
        </div>
    </div>
<div class="off-canvas-wrapper main-wrapper">
    <div class="image">
        <img style="width:100%;height:450px;" src="/static/orange-and-black-interior-artwork-ideas.jpg">
        <div id="picture">
            <h1 style="color: white"><b>YOUR INTERIOR DESIGN PATNER</b></h1>
            <small style="color: white">GET YOUR HOME DESIGNED BY OUR EXPERT DESIGNERS</small>
        </div>
    </div>
    <div style="margin-top: -57px;" >
    <ul class="tabs " data-tab role="presentation">
        <li class="tab-title"><a href="#bookorder">1 BOOK ORDER</a></li>
        <li class="tab-title"><a href="#order">2 GET FURNITURE LAYOUT</a></li>
        <li class="tab-title"><a href="#">3 GET 3D RENDERS</a></li>
        <li class="tab-title"><a href="#">4 GET PRODUCTION DOCUMENTS</a></li>
    </ul>
    <div class="tabs-content">
        <div class="content "  id="bookorder">
            <p >book your furniture with pictures</p>
        </div>
        <div class="content active "  id="order">
            <img src="/static/555.png" style="height:202px"> Our Designer will contact you to understand your requirements and to take required inputs
        </div>
    </div>
</div>

   <div id="ZZ" >
            <form>
                <div class="row" id="five" style="align-content: center">
                <div class="columns large-2 medium-2 small-1 left">
                    <input type="text" placeholder="Name">
                </div>
                <div class="columns large-4 medium-4 small-2 left">
                    <input type="text" placeholder="Email">
                </div>
                <div class="columns large-2 medium-2 small-1 left">
                    <input type="text" placeholder="Number">
                </div>
                <div class="columns large-2 medium-2 small-1 left">
                    <a href="#" style="width: 250px;background-color: orangered;height: 38px;" class="button small">Contanct Us</a>
                </div>
                <div class="columns  large-2 medium-2 small-1 left" style="padding-top:10px;">
                    <a href="#" style="text-align:center;text-decoration:underline;color:white;">ViewPackages</a>
                </div>
            </div>
            </form>
        </div>
    <div id="YY">
        <br><p > *Get All Production ready Documents-Designs,Engineering Drawings ,Bill of Material </p>
    </div>
    <div class="row" >
        <h1 id="C">PACKAGES</h1>
        <hr style="border:1px solid grey">
    </div>
    <div id="J">
        <div class="row">
            <div id="seven" class="columns lage-4 medium-8 left"><br>
                <table >
                    <tr>
                        <th style="border:1px light black;">TYPE OF PACKAGE</th>
                        <th style="border:1px light black;">PRICE</th>
                    </tr>
                    <tr>
                        <td>1-BHK</td>
                        <td>Rs20,000/-</td>
                    </tr>
                    <tr>
                        <td>2-BHK</td>
                        <td>Rs30,000/-</td>
                    </tr>
                    <tr>
                        <td>3-BHK</td>
                        <td>Rs45,000/-</td>
                    </tr>
                    <tr>
                        <td>4-BHK</td>
                        <td>Rs60,000/-</td>
                    </tr>
                    <tr>
                        <td>VILLAK</td>
                        <td>Rs75,000/-</td>
                    </tr>
                </table>
                <br><br>
                <p>Includes Space layout & Furniture design,3D rendors,
                Walkthrough,BOM and Engineering drawings,Estimate</p>
                <br>
                <p>The designs can be revised till you are fully satisfied.</p>
                <br>
                <p>WE Will Provide Manufacture & install</p>
            </div>
            <div  class="columns large-1 medium-1 ">
                <div class="vertical-line"></div>
            </div>
            <div id="six" class="columns large-5 medium-4 right">
                <small>SUBMIT YOUR DETAILS WITH YOUR FLOOR PLAN</small>
                <form >
                    <input type="text" placeholder="NAME">
                    <input type="text" placeholder="EMAIL">
                    <input type="text" placeholder="PHONE">
                    <div class="row">
                        <div class="columns large-6 medium-6"><input type="text" placeholder="CITY"></div>
                        <div class="columns large-6 medium-6"><input type="number" placeholder="PINCODE"></div>
                    </div>
                    <input type="text" list="pack" placeholder="SELECTPAKAGE">
                    <datalist id="pack">
                        <option>1-BHK</option>
                        <option>2-BHK</option>
                        <option>3-BHK</option>
                        <option>4-BHK</option>
                        <option>VILLA</option>
                    </datalist>
                    <div class="row">
                        <div class="columns large-8 medium-8">
                            <input type="text" placeholder="UPLOAD DOCS">
                        </div>
                        <div class="columns large-4 medium-4">
                            <a href="#" style="background-color: GREY;;" class="button tiny">UPLOAD</a>
                        </div>
                    </div>
                    <textarea placeholder="NOTES"></textarea><br>
                    <div class="row">
                        <div class="columns large-5 medium-5">
                            <a href="#" style="background-color: orangered;;" class="button tiny">BOOK NOW</a>
                        </div>
                        <div class="columns large-7 medium-7">
                            <a style="text-decoration:underline">NEED ASSISTANCE?</a>
                        </div>
                    </div>
                </form>
            </div>
         </div>
    </div>
    <div class="row" >
        <h1 id="D">WHAT WE OFFER</h1>
        <hr style="border:1px solid grey">
        <div class="row">
            <div class="columns large-6 medium-6 left" style="border: 1px solid;padding: 0px;">
                <img src="/static/deco.png" style="margin-left: 17%;padding: 2%;">
                <div id="deco">
                    DESIGN ONLY
                    <p>Space layout & Furniture design, #D renders, Walkthrough, BOM and Engineering drawings,Estimate</p><br><br><br>
                    <a href="#" style="text-decoration:underline; color:white;"> Click Here to Know More </a>
                </div>
            </div>
            <div class="columns large-6 medium-6 left" style="border: 1px solid;padding: 0px;left:1%">
                <img src="/static/plan.png"  style="margin-left: 17%;padding: 2%;">
                <div id="plan">
                    DESIGN & EXECUTE*
                    <p>Space layout & Furniture design, 3D renders, Walkthrough, BOM and Engineering drawings,Estimate</p>+
                    <p>Manufacture & Install</p>
                    <a href="#" style="text-decoration:underline; color:white;"> Click Here to Know More </a>
                </div>
            </div>
            <div class="coloumns large-6 medium-6 right">
                <p style="text-align: right">*AVAILABLE ONLY IN BANGALORE, HYDERABAD</p>
            </div>
        </div>
    </div>
    <div class="row" >
        <h1 id="E">WHY US?</h1>
        <hr style="border:1px solid grey">
        <div class="row" >
            <div class="columns large-3 medium-3">
                <img class="circle"  src="/static/circle-2.png">
                <div id="circle-2">TEAM</div>
                <p style="text-align:center;">100+ HIGHLY QUALIFIED INTERIOR DESIGNERS</p>
            </div>
            <div class="columns large-3 meium-3">
                <img class="circle"  src="/static/circle-3.png">
                <p id="circle-3">CUSTOMIZED DESIGNS</p>
                <p style="text-align:center;">GET YOUR HOME INTERIORS DESIGNED ACCORDING TO YOUR PREFERENCES</p>
            </div>
            <div class="columns large-3 meium-3">
                <img class="circle"  src="/static/circle-1.png">
                <p id="circle-1">3D VISUVALIZATION</p>
                <p style="text-align:center;">VISUALIZE YOUR HOME BEFORE YOU DECIDE TO IMPLEMENT </p>
            </div>
            <div class="columns large-3 medium-3">
                <img class="circle"  src="/static/circle-4.png">
                <p id="circle-4">INTEGRATED DELIVERY</p>
                <p style="text-align:center;">IN-HOUSE CAPABILITIES TO DESIGN,MANUFACTURE& INSTALL THE DESIGNS PROPOSED</p>
            </div>
        </div>
    </div>
    <div class="row" >
        <h1 id="F">SAMPLEPROJECT</h1>
        <hr style="border:1px solid grey">
        <div class="flex-video widescreen">
            <iframe width="800px" height="400px" src="https://www.youtube.com/embed/k7FsrMSIxXA" allowfullscreen frameborder="0"></iframe>
        </div>
    </div>
    <div class="row" >
        <h1 id="G">GALLERY</h1>
        <hr style="border:1px solid grey">

    </div>
    <div class="row" id="P">
        <h6 style="color:orangered;text-align:left;"><b>PREVIOUS PROJECT NAME</b></h6>
        <div id="Q" class="columns large-6 left">
            <img id="ten" src="/static/11.jpg">
        </div>
        <div id="R" class="coloumns large-6 left">
            <div class="row">
                <div id="S" class="columns large-6 left">
                    <img src="/static/22.jpg">
                </div>
                <div id="T" class="columns large-6 left">
                    <img src="/static/22.jpg">
                </div>
            </div>
            <div class="row">
                <div id="U" class="columns large-6 left">
                    <img src="/static/22.jpg">
                </div>
                <div id="V" class="columns large-6 left">
                    <img src="/static/22.jpg">
                </div>
            </div>
        </div>

    </div>
    <div class="row" id="P">
        <h6 style="color:orangered;text-align:left;"><b>PREVIOUS PROJECT NAME</b></h6>
        <div id="Q" class="columns large-6 left">
            <img id="ten" src="/static/11.jpg">
        </div>
        <div id="R" class="coloumns large-6 left">
            <div class="row">
                <div id="S" class="columns large-6 left">
                    <img src="/static/22.jpg">
                </div>
                <div id="T" class="columns large-6 left">
                    <img src="/static/22.jpg">
                </div>
            </div>
            <div class="row">
                <div id="U" class="columns large-6 left">
                    <img src="/static/22.jpg">
                </div>
                <div id="V" class="columns large-6 left">
                    <img src="/static/22.jpg">
                </div>
            </div>
        </div>

    </div>
    <div id="nine">
        <div class="row" >
            <h1 id="H">TESTIMONIALS</h1>
            <hr style="border:1px solid grey">
        </div>

            <div class="row" >

                <div class="columns large-3 medium-4 " id="K">

                        <img src="/static/project-1-images-4.jpg"><br>
                        <h6 style="text-align: center">SURESH & MEENAKSHI</h6>
                        <p style="text-align: justify;padding: 20px;font-size: 12px;">WE PLACED A FULL_HOUSE FURNITUE ORDER WITH CUSTOMFURNITURE, THEY HAVE BEAUTIFULLY FURNISHED MY HOME</p>

                </div>
                <div class="columns large-3 medium-4 " id="L">
                    <form>
                        <img src="/static/project-6-images-1.jpg"><br>
                        <h6 style="text-align: center">G.VENKATA RAMANA RAO</h6>
                        <p style="text-align: justify;padding: 20px;font-size: 12px;">WE PLACED A FULL_HOUSE FURNITUE ORDER WITH CUSTOMFURNITURE, THEY HAVE BEAUTIFULLY FURNISHED MY HOME</p>
                    </form>
                </div>
                <div class="columns large-3 medium-4 " id="M">
                    <form>
                        <img src="/static/project-8-images-1.jpg"><br>
                        <h6 style="text-align: center">MEERA SRINIVAS</h6>
                        <p style="text-align: justify;padding: 20px;font-size: 12px;">WE PLACED A FULL_HOUSE FURNITUE ORDER WITH CUSTOMFURNITURE, THEY HAVE BEAUTIFULLY FURNISHED MY HOME</p>
                    </form>
                </div>
                <div class="columns large-3 medium-4 " id="N">
                    <form>
                        <img src="/static/shastri-3.jpg">
                        <h6 style="text-align: center">SHASTRI</h6>
                        <p style="text-align: justify;padding: 20px;font-size: 12px;">WE PLACED A FULL_HOUSE FURNITUE ORDER WITH CUSTOMFURNITURE, THEY HAVE BEAUTIFULLY FURNISHED MY HOME</p>
                    </form>
                </div>
        </div>

    </div>
    <div class="row" >
        <h1 id="I">FAQ</h1>
        <hr style="border:1px solid grey">
        <p><b>How do i book an odrer with customfurnish.com?</b></p>
        <p>Ans:You can book an order with us online by clicking on the BOOK NOW button and furnishing all the mandatory information & files</p>
        <br>
        <p><b>Is the booking amount refundable?</b></p>
        <p>Ans:If you are opting for the Design only package, then the amount you pay is the design fee and not refundable.However if you select the Design and Execute package,the amount you pay at the time of booking the order will be absorbed in the totalproject cost. </p>
        <br>
        <p><b>Can I switch the package I select at a later point?</b></p>
        <p>Ans:You are free to switch from one package to the at any time. If you decide to switch from Design only on Design & Execute, your booking amount will be absorbed in the total project cost.However, if you sign-up for Design & Excecute package and later decide and later decide to avail only our design servies, we'll not be providing you the Designs,BOM & Engineering drawings.  </p>
    </div>
</div>


    <!--  body here -->
        <div id="content">{% block body %}{% endblock %}</div>

<footer class="footer " >
    <div class="row">
        <div class="columns large-3">
            <h5><a href="#" >CUSTOMFURNISH</a></h5><br>
            <a href="#">About Us</a><br>
            <a href="#">Terms&Conditions</a><br>
            <a href="#">Privacy Policy</a><br>
            <a href="#">Delivery & Return Policy</a>
        </div>
        <div class="columns large-3">
            <h5><a href="#" >COLLECTION</a></h5><br>
            <a href="#">Sofas</a><br>
            <a href="#">Waedrobes</a><br>
            <a href="#">Kitchens</a><br>
        </div>
        <div class="columns large-3">
            <h5><a href="#" >FOLLOW US</a></h5><br>
            <a href="#">Twitter</a><br>
            <a href="#">Facebook</a><br>
            <a href="#">Pintrest</a><br>
            <a href="#">Google</a><br>
        </div>
        <div class="columns large-3">
            <h5><a href="#" >CONTACT US</a></h5><br>
            <a href="tel:040-660660454" class="header-call"><img src="/static/fi-telephone.svg" style="width:20px;height:20px;">040-660660454</a><br>
            <a href="mailto:wecare@customfurnish.com" class="header-mail"><img src="/static/fi-mail.svg" style="width:20px;height:20px;">wecare@customfurnish.com</a><br>

        </div>
        <hr>
    </div>
    <div class="row" id="O">
        <div class="columns large-1 large-offset-3 left">
            <a href="#"><img src="/static/Visa_Logo.png" style="width:50px;height:40px;"></a>
        </div>
        <div class="columns large-1 left">
            <a href="#"><img src="/static/maestro.png" style="width:50px;height:40px;"></a>
        </div>
        <div class="columns large-1 left">
            <a href="#"><img src="/static/mastercard.png" style="width:50px;height:40px;"></a>
        </div>
         <div class="columns large-1 left">
            <a href="#"><img src="/static/paytm.jpeg" style="width:70px;height:50px;"></a>
        </div>
        <div class="columns large-1 left">
            <a href="#"><img src="/static/256bit.png" style="width:80px;height:40px;"></a>
        </div>
        <div class="coloumns large-2 left">
            <a href="#" style="text-align :center;"><img src="/static/netbanking.jpg" style="width:100px;height:40px;margin-left:15px;"></a>
        </div>
    </div>
    <div class="row">
        <hr>
        <p style="text-align:center;"> Sign up for our newsletter and you could win exciting offers and shopping vochers!</p><br>
        <div class="columns large-7 large-offset-1 left ">
            <input type="text" placeholder="your email address">
        </div>
        <div class="columns large-4 left">
             <a href="#" style="width: 250px;background-color: orangered;height: 38px;" class="button small">SUBSCRIBE</a>
        </div>

    </div>
</footer>
<script src="static/jquery-3.1.0.js"></script>
<script src="static/foundation.js"></script>
<script src="static/foundation.min.js"></script>
<script type="text/javascript" src="/static/modernizr.js"></script>
<script>
    $(document).foundation();

</script>
</body>
</html>
