<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{%block title%}customfurnish{% endblock%}</title>
    <link rel="stylesheet" href="/static/foundation.css">
    <link rel="stylesheet" href="/static/foundation.min.css">
    <link rel="stylesheet" href="/static/normalize.css">
    <link rel="stylesheet" href="/static/app.css">
    <script type="text/javascript" src="/static/modernizr.js"></script>

</head>
<body>
<div class="off-canvas-wrap  show-for-medium-up">
    <div class=" coloumns large-4 medium-4 small-8 left" >
        <a href="/" ></a>
        <img src="/static/custom-furnish.png" alt="customfurnish" >
    </div>

   <div class=" coloumns large-1 medium-4 small-3 left" style="padding-top:5px">
        <img src="/static/fi-telephone.svg" style="width:30px;height:50px" alt="phone">
        <a href="tel:040660660545" >040-660660545</a>

    </div>
    <div class="coloumns large1 medium1 small1 left" style="padding:5px">
    <h3>|</h3>
        </div>
    <div class=" coloumns large-2 medium-2 small-3 left" style="padding:5px">
        <img src="/static/fi-mail.svg" style="width:30px;height:50px" alt="mail">
        <a href="wecare@customfurnish.com">wecare@kustommade.com</a>

    </div>
    <div class=" coloumns large-1 medium-2 small-3 left" style="padding:5px">
        <div class="row">
            <img src="/static/fi-torso.svg" style="width:50px;height:50px;align:center;" alt="signin">
        </div>
        <div class="row">
            <a href="#" style="align:center">Sign in</a>
        </div>
    </div>
    <div class=" coloumns large-1 medium-2 small-3 left" style="padding:5px">
        <div class="row">
            <img src="/static/cart.png" style="width:50px;height:50px;float:left;" alt="signin">
        </div>
        <div class="row">
            <a href="#" > Cart </a>
        </div>

    </div>
</div>
<div>
     <nav class="top-bar" data-topbar role="navigation">

          <section class="top-bar-section">
           <ul class="left">
               <li> <a href="#">LIVING ROOM</a></li>
               <li> <a href="#">KITCHEN</a></li>
               <li> <a href="#">BED ROOM</a></li>
               <li> <a href="#">HOME DECOR</a> </li>
               <li> <a href="#">OFFICE</a></li>
               <li> <a href="#">FULL HOUSE</a> </li>
               <li> <a href="#">DESIGN-SERVICE</a> </li>
               <li> <a href="#">HOW IT WORKS</a> </li>
               <li> <a href="#">OURPROJECTS </a> </li>
               <li> <a href="#"> FAQ </a></li>
           </ul>
          </section>
             <hr>

    </nav>
</div>
<div class="off-canvas-wrapper main-wrapper">
    <div class="image">
        <img src="/static/orange-and-black-interior-artwork-ideas.jpg">
        <div id="one">
            <h1 style="color: white">YOUR INTERIOR DESIGN PATTEREN</h1><br>
            <h4 style="color: white">GET YOUR HOME DESIGNED BY OUR EXPERT DESIGNERS</h4>
            <br>
            <h3 style="color: white">DESIGN SERVIVICE <small>STARTS FROM</small> Rs 20,000/-*</h3>
            <br>
            <br>
            <br>
            <a href="#" style="background-color: orangered" class="button">Know More</a>
            <p>*Get All Production ready Documents-Designs,Engineering Drawings ,Bill of Material</p>
        </div>
        <div id="two" style="align-content: center">
            <div class="columns large-2 medium-2 small-1 left">
                <input type="text" placeholder="Name">
            </div>
            <div class="columns large-4 medium-4 small-2 left">
                <input type="text" placeholder="Email">
            </div>
            <div class="columns large-2 medium-2 small-1 left">
                <input type="text" placeholder="Number">
            </div>
            <div class="columns  medium-2 small-1 left">
                <a href="#" style="background-color: orangered" class="button">Contanct Us</a>
            </div>
            <div class="columns  medium-2 small-1 left">
                <a href="#" style="text-align:center">View-Packages</a>
            </div>
        </div>
    </div>
</div>


    <!--  body here -->
        <div id="content">{% block body %}{% endblock %}</div>

<footer class="footer" > footer</footer>

</body>
</html>